<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<nav>
    //static references to home and application pages
    <a href="home.html">Home</a>
    <a href="application.html">Application</a>
</nav>
<section>
    <h1>About To-Do's</h1>
    <p id="about_page">Insert information about functionality and main features here!</p>
</section>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top navbar-"
     style="height: 35px">
    <a
            href="#"
            class="navbar-brand mb-0 h1">
        <img
                class="d-inline-block align-top"
                src="https://media.istockphoto.com/vectors/check-vector-id871478670?k=20&m=871478670&s=612x612&w=0&h=qh3cQ0BOokeBWiJQp6fvjX-JpIIimTtAOkwe_Yt0y6k="
                alt="picture of checkmark"
                width="50" height="30"/>
        TODO
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-nav"
            class="navbar-toggler"
            aria-controls="navbar-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbar-nav">
        <ul class="navbar-nav">
            <!-- link for home -->
            <li class="nav-item active">
                <a class="nav-link active" href="./Views/home.html">Home</a>
            </li>

            <!-- link for about -->
            <li class="nav-item active">
                <a class="nav-link active" href="./Views/about.html">About</a>
            </li>

            <!-- link for login
            <li class="nav-item active">
                <a class="nav-link active" href="#">Login</a>
            </li> -->
        </ul>
    </div>
</nav>
</body>
</html>