<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="projects">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < projects.length; i++) {%>
      <li class="project">
        <!-- Output name from the iterated quote object -->
        <span><%= projects[i].title %></span>:
        <!-- Output quote from the iterated quote object -->
        <span><%= projects[i].description %></span>
      </li>
      <% } %>
    </ul>
  </body>
</html>
